* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.799);
  color: white;
}

header nav img {
  width: 80px;
  height: 80px;
}

header nav {
  background-color: #21212161;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

header nav form {
  display: flex;
  justify-content: center;
}

form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

form input[type="text"],
button[type="submit"] {
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

form button[type="submit"] {
  background-color: blue;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

form button[type="submit"]:hover {
  background-color: rgba(0, 0, 255, 0.452);
}

.recipe-container{
    text-align: center;
    margin-top: 20px
}


@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
  }
  header nav form {
    width: 80%;
  }
}

